body{
    background-color: #9c3AbF;
}
div{
    width: 600px;
    height: 600px;
    background-color: #ff6a00;
    color: #0026ff;
    margin-left: 100px;
}
h1{
    color: #4cff00;
    text-align: center;
}